* {
    margin:0;
    padding:0;
}

html, body {
    overflow: auto;
    position: relative;
}

.poster {
	width: 30vw;
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
	margin-top: 30px
}

.cards {
	margin: 20px 20px 20px 20px
}

.title {
	text-align: center;
}

.text {
	text-align: justify;
}

.resumo-title {
	text-align: center;
	background-color: #eee;
}

.img-arc {
	width:700px;
	height:500px;
}

.menu {
	margin-top: 10px;
}

.info {
	background-color: #eee;
}

.abstract-container {
	background-color: #eee;
	margin-top: 10px;
}

.abstract {
	text-align: justify;
}

.home {
	margin-top: 10px;
}